@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_User.cshtml";
}
<div class="page-wrapper">

    
    <!-- Welcome Section -->
    <section class="welcome-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Welcome to <strong>Herbalife</strong></h2>
            </div>
            <div class="row clearfix">
                <!-- Img Column -->
                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                    <div class="image-box">
                        <figure><img src="/assets/user/images/resource/welcome-img.jpg" alt=""></figure>
                    </div>
                </div>
                <!-- coontent Column -->
                <div class="content-column col-md-6 col-sm-6 col-xs-12">
                    <div class="content-box">
                        <!-- about-block -->
                        <div class="about-block">
                            <div class="inner-box">
                                <div class="content-box">
                                    <h3><a href="#">About Herballife</a></h3>
                                    <p>Herbalife is a global nutrition and weight management and direct selling company. Herbalife products range from nutritional supplements to body care.</p>
                                </div>
                            </div>
                        </div>
                        <!-- about-block -->
                        <div class="about-block">
                            <div class="inner-box">
                                <div class="content-box">
                                    <h3><a href="#">Our Science</a></h3>
                                    <p>Know more about the science behind Herbalife products, which are made with the highest industry standards.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-block">
                            <div class="inner-box">
                                <div class="content-box">
                                    <h3><a href="#">Community</a></h3>
                                    <p>Know more about the Herbalife Family Foundation and its commitment to improve the lives of children in need and the support of the victims of natural disasters.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-block">
                            <div class="inner-box">
                                <div class="content-box">
                                    <h3><a href="#">A balanced diet</a></h3>
                                    <p>Proper balanced nutrition provides the fuel you need for your daily activities and healthy eating can help make your best shape a reality.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-block">
                            <div class="inner-box">
                                <div class="content-box">
                                    <h3><a href="#">Fitness tip</a></h3>
                                    <p>Pleasure work praising pain ut was born and will give you can complete design account sed the system.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcome Section -->
    <!-- Why Us -->
    <!-- End Why Us -->
    <!-- Parallax Section -->
    <section class="parallax-section" style="background-image: url(/assets/user/images/background/1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="parallax-content col-md-8 col-sm-12">
                    <div class="inner-box">
                        <h2 class="title">3 months with a Health Coach</h2>
                        <div class="text">Start working on your body today, and with our individual fitness program, already in 90 days you will see a totally different girl in the mirror!</div>
                        <div class="link">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Parallax Section -->
    <!-- Our Team -->
    <!-- End Team Section -->
    <!-- Serivces -->
    <section class="services-section" style="background-image: url(/assets/user/images/background/2.jpg);">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Start With <strong>top categories</strong></h2>
                <span>Our Successful Services</span>
            </div>

            <div class="row clearfix">
                <!-- Service Blcok -->
                <div class="service-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="title-box">
                            <h3><a href="#">WEIGHT-LOSS</a></h3>
                        </div>
                        <div class="content-box">
                            <div class="icon-box"><span class="flaticon-pepper"></span></div>
                            <div class="text">WEIGHT-LOSS</div>
                        </div>
                    </div>
                </div>

                <!-- Service Blcok -->
                <div class="service-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="title-box">
                            <h3><a href="#">WEIGHT GAIN</a></h3>
                        </div>
                        <div class="content-box">
                            <div class="icon-box"><span class="flaticon-skipping-rope"></span></div>
                            <div class="text">WEIGHT GAIN</div>
                        </div>
                    </div>
                </div>

                <!-- Service Blcok -->
                <div class="service-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="title-box">
                            <h3><a href="#">MAINTAIN-BODY</a></h3>
                        </div>
                        <div class="content-box">
                            <div class="icon-box"><span class="flaticon-heartbeat"></span></div>
                            <div class="text">MAINTAIN-BODY</div>
                        </div>
                    </div>
                </div>

                <!-- Service Blcok -->
                <!-- Service Blcok -->

            </div>
        </div>
    </section>
   
  